#alert-app {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 13px;
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: #f66;
}

ul {
  list-style-type: none;
}

.status-line{
  display: inline-block;
}

.status {
  display: inline-block;
}

.status.success {
  background-image: url("../assets/icons/octicon-check-circle.png");
  width: 20px;
  height: 20px;
}

.status.failure {
  background-image: url("../assets/icons/octicon-x-circle.png");
  width: 20px;
  height: 20px;
}
